
   .body_projects{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: auto auto auto;
   }
   
   /* -------------------- imagenes ---------------------- */
   
#imgPortafoliocel{
    display: block;
}

#imgPortafolio{
    display: none;
    opacity: 0;
}