/* 
 /* hover on menu desplegable */
#DisplayMenu nav a:hover, #DisplayMenu p:hover a{
    transition: all 0.6s ease;
    color: #03aecc !important;
    font-weight: bolder;    

}

#contacts:hover{
    transition: all 1s ease;
    animation: fadeIn 5s infinite;
    box-shadow: inset 0px 0px 7px rgb(4, 19, 49);
    cursor: pointer;
}
    
.links:hover p,.body_projects .desciptions a:hover {
    animation: fadeIn 5s ease infinite;
} */


/* animacion en la sombra del menu desplegable de lenguaje */

#circlenavmenu:hover{
    animation: fadeIn 5s infinite;
}

@keyframes fadeIn {
    0% {
        box-shadow: 0px 0px 10px rgb(34, 142, 225);

    }
    50% {
        box-shadow: 0px 0px 10px rgb(0, 255, 251);

    }
    100% {
        box-shadow: 0px 0px 10px rgb(34, 142, 225);

    }
}


a span:nth-child(1){
    top: 0;
    Left: -120%;
    width: 100%;
    height: 3px;
    box-shadow: 0px 0px 10px 10px #2ef8a0c9 ;
    background: linear-gradient(90deg,transparent, #2ef8a0) 
    
}

a span:nth-child(2){
    top: -120%;
    right: 0;
    width: 3px;
    height: 100%;
    box-shadow: 0px 0px 10px 10px #10ffdff0 ;
    background: linear-gradient(270deg,transparent, #01c4e7, #8531fa) 
}

a span:nth-child(3){
    bottom: 0;
    right: -120%;
    width: 120%;
    height: 3px;
    box-shadow: 0px 0px 10px 10px #239ef0 ;
    background: linear-gradient(270deg,transparent, #0a59c2, #6babff) 
}


a span:nth-child(4){
    bottom: -120%;
    left: 0;
    height: 100%;
    width:  3px;
    box-shadow: 0px 0px 10px 10px #04ffe6de ;
    background: linear-gradient(360deg,transparent, #01c4e7, #5ee0f7) 
}

