#bot{
	display: block;
	float:right;
}
#bot img{
	float: right;
}

#bot span{
	display: block;
	padding-right: 4px;
	padding-left: 5px;
	float: right;

}

#user span {
	padding-right: 15px;
	padding-left: 5px;
}

.container-chat {
	position:fixed ;
	display: none;
  justify-content: center;
	align-items: center;
	width: 300px;
	height: 400px;
	
}

.chat {
	height: 500px;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

#header_bot{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-indent: 10px;
	line-height: 50px;
	height: 50px;
	width: 300px;
	background-color: rgba(11, 7, 51, 0.919);
	margin-bottom: -10px;
	border-radius: 10px 10px 0 0;
}

#material-icons1{
	display: block;
	font-size: 30px;
	font-weight: bold;
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

#material-icons1:hover{
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
}
/* chat */

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
	float: left;
	margin-right: 3px;
}

#submit{
	display: block;
	float: right;
	margin-left: 10px;
	padding: 10px;
	border-radius: 10px;
}

#submit_icon{
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

#submit:active{
	background-color: #000;
}

#submit:active #submit_icon{
	color: #fff;
}

.messages-chat {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: rgba(16, 7, 51, 0.885);
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
	monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: block;
	align-items: center;
	margin: 1%;
}

#barra-Chat{
	background-color: #1a1b3a;
	width: 300px;
	height: 40px;
	border-radius: 30px;
	position:fixed ;
	top: 1px;
	left: 1px;
}

#p_barra{
	text-align: center;
	line-height: 35px;
	color: #ffff;
	font-size: 30px;
	font-family: 'Playfair Display', Georgia;
}

#barra-Chat:hover{
	cursor: pointer;
	background-color: #1c1d43;
	box-shadow: 0 0 4px #23254d ;
}


/* Mobile */

@media only screen and (max-width: 980px) {
  .container {
		flex-direction: column; 
		justify-content: flex-start;
	}
	.chat {
		width: 75vw;
		margin: 10vw;
	}
}